

<% 2.times do%>
    <div class="row"></div>
<% end %>

<div class="container">
  <div class="sixteen columns">
      <table>
          <tr>
              <th>Ticker</th>
              <th>Company</th>
              <th>Position</th>
              <th>Px: <%=@begin_date%></th>
              <th>Px: <%=@end_date%></th>
              <th>Start Value</th>
              <th>End Value</th>
              <th>Perc. Chg</th>
          </tr>
          <% @final.each do |stock| %>
          <tr>
              <td class="port_cell left_cell"><a href="/stocks/<%=stock["ticker"]%>"><%= stock["ticker"] %></a></td>
              <td class="port_cell left_cell"><%= stock["name"] %></td>
              <td class="port_cell left_cell"><%= stock["num_shares"] %></td>
              <td class="port_cell left_cell"><%= stock["begin_price"] %></td>
              <td class="port_cell left_cell"><%= stock["end_price"] %></td>
              <td class="port_cell left_cell"><%= stock["begin_value"] %></td>
              <td class="port_cell left_cell"><%= stock["end_value"] %></td>
              <td class="port_cell"><%= stock["perc_change"] %></td>
          </tr>
          <% end %>
      </table>
  </div>
  <% 2.times do%>
      <div class="row"></div>
  <% end %>

  <div class="sixteen columns">
      Total Beginning Value: <%=@portfolio_aggregate["start_val"]%> </br>
      Total Ending Value:    <%=@portfolio_aggregate["end_val"]%> </br>
      Percent Change: <%=@portfolio_aggregate["perc_chg"]%>
  </div>
</div>
