
<div class="container">
  <div class="sixteen columns">
      <table>
          <% @full_portfolio_data.each do |stock| %>
          <tr>
              <td class="port_cell left_cell"><%= stock["ticker"] %></td>
              <td class="port_cell left_cell"><%= stock["name"] %></td>
              <td class="port_cell left_cell"><%= stock["num_shares"] %></td>
              <td class="port_cell left_cell"><%= stock["begin_price"] %></td>
              <td class="port_cell left_cell"><%= stock["end_price"] %></td>
              <td class="port_cell left_cell"><%= stock["begin_value"] %></td>
              <td class="port_cell left_cell"><%= stock["end_value"] %></td>
              <td class="port_cell"><%= stock["perc_change"] %></td>
          </tr>
          <% end %>
      </table>
  </div>
</div>
