<%= render 'logout'%>
<% 3.times do%>
    <div class="row"></div>
<% end %>

<div class="container">
    <%= form_for @portfolio do |f| %>
        <div class="three columns">
            <%= f.submit(class: "gen_button") %>
        </div>
        <div class="seven columns offset-by-two">
            <%= f.label :name %>
            <%= f.text_field :name%>
        </div>
    <% end %>
    <div class="ten columns">
        <%= button_to "All portfolios", portfolios_path, method: "get", class: "gen_button" %>
    </div>

</div>





