

<% 2.times do%>
    <div class="row"></div>
<% end %>

<div class="container">
    <div class="three columns">
        <form action="/portfolios/<%=@portfolio.id%>/stocks/new" method="get">
            <button class="gen_button" type="submit">Add Stock</button>
        </form>
        <%= button_to "All portfolios", portfolios_path, method: "get", class: "gen_button" %>
        <form action="/portfolios/<%=@portfolio.id%>/edit" method="get">
            <button class="gen_button" type="submit">Edit Portfolio Name</button>
        </form>
        <form action="/portfolios/<%=@portfolio.id%>" method="post">
            <%= token_tag %>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Portfolio" class="gen_button">
        </form>
    </div>

    <div class="ten columns offset-by-one">
        <form action="/portfolios/analyze/<%=@portfolio.id%>" method="get">
            <input type="date" min="2012-01-03" name="begin_date" value="2012-01-03">
            <input type="date" min="2012-01-01" name="end_date" value="<%=Time.now.to_date.to_s%>">
            <button type="submit"><i class="fa fa-arrow-right"></i></button>
        </form>
    </div>
        <div class="ten columns offset-by-one">
        <table>
            <tr>
                <th colspan="4" class="port_title"><%=@portfolio.name%> Portfolio</th>
            </tr>
            <tr>
                <th>Ticker</th>
                <th>Company</th>
                <th>Position</th>
            </tr>
            <% @details.each do |stock| %>
                <tr>
                    <td class="port_cell left_cell"><a href="/stocks/<%=stock["ticker"]%>"><%= stock["ticker"] %></a></td>
                    <td class="port_cell left_cell"><%= stock["name"] %></td>
                    <td class="port_cell left_cell"><%= stock["num_shares"]%></td>
                    <td class="port_cell">
                        <form class="port_show" action="/portfolios/<%=@portfolio.id%>/stocks/<%=stock["id"]%>" method="post">
                        <%= token_tag %>
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit"><i class="fa fa-trash-o"></i></button>
                        </form>
                        <form class="port_show" action="/portfolios/<%=@portfolio.id%>/stocks/<%=stock["id"]%>/edit" method="get">
                        <button type="submit"><i class="fa fa-pencil-square-o"></i></button>
                        </form>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="sixteen columns">

    </div>
</div>

