
<% 3.times do%>
    <div class="row"></div>
<% end %>



<div class="container">
    <div class="twelve columns offset-by-two">


<table>
  <% @list.each do |result| %>
  <tr>
      <td class="port_h_cell"><%=result["symbol"]%></td>
      <td class="port_h_cell"><%=result["name"]%></td>
      <td class="port_h_cell"><%=result["exchDisp"]%></td>
      <form action="/portfolios/<%=@portfolio_id%>/stocks/<%=result["symbol"]%>" method="get">
          <input type="hidden" name="name" value="<%=result["name"]%>">
          <td><input type="text" name="num_shares" placeholder="Number of Shares"></td>
          <td><input type="submit"></td>
      </form>
  </tr>

  <% end %>

</table>

    </div>
</div>
