<%= @p %>


<div class="container">
    <div class="sixteen columns">
        <form action="/portfolios/<%=@share.portfolio_id%>/stocks/<%=@share.stock_id%>" method="post">
            <%= token_tag %>
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="share_id" value="<%=@share.id%>">
            <input type="text" name="num_shares" value="<%=@share.num_shares%>">
            <input type="submit">
        </form>


    </div>


</div>
